.main-content {
  background-color: rgb(228, 225, 225);
  flex: 1;
  padding: 32px;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

